<div class="box">
    <form class="border border-3 border-primary p-3 rounded rounded-4" action="">
        <H2><span class="bi bi-person"></span>{{title}}</H2>
        <div class="mb-3">
            
            <label class="form-label" for="username" >Username</label>
            <div>
                <input class="form-comtrol" type="text" name="username">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <div>
                <input class="form-comtrol" type="password" name="password">
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100">login</button>
        </div>
    </form>
</div>